<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Nawasena</title>
    <link rel="icon" href="../assets/logo-nawasena.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <style>
        .fade-in {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease-out, transform 0.5s ease-out;
        }

        .fade-in.visible {
            opacity: 1;
            transform: translateY(0);
        }

        .nav-link.active {
            color: #60a5fa;
            /* Change this to your desired active color */
            font-weight: bold;
            /* Optional: make it bold */
        }

        .loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #f7f9fb;
            transition: opacity 0.75s, visibility 0.75s;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        .loader-hidden {
            opacity: 0;
            visibility: hidden;
        }

        .loader::after {
            content: "";
            width: 75px;
            height: 75px;
            border: 15px solid #dddddd;
            border-top-color: #60a5fa;
            border-radius: 50%;
            animation: loading 0.75s ease infinite;
        }

        @keyframes loading {
            from {
                transform: rotate(0turn);
            }

            to {
                transform: rotate(1turn);
            }
        }

        .about {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .about:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        }
    </style>
    <link href="build/tailwind.css" rel="stylesheet">
</head>

<body class="bg-black text-white">
    <div class="loader"></div>

    <!-- Navbar -->
    <nav
        class="p-5 bg-black bg-opacity-90 shadow md:flex md:items-center md:justify-between fixed top-0 left-0 w-full z-50">
        <div class="flex justify-between items-center">
            <a href="home.html" class="text-2xl font-[Poppins] cursor-pointer ml-4">
                <img class="h-12 inline" src="../assets/logo.png" alt="Logo">
            </a>

            <!-- Tombol menu hamburger untuk mobile -->
            <span class="text-3xl cursor-pointer mx-2 md:hidden block">
                <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
            </span>
        </div>

        <!-- Navigasi -->
        <ul id="menu-list"
            class="md:flex md:items-center z-50 md:z-auto md:static absolute bg-black md:bg-transparent w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 opacity-0 md:opacity-100 top-[-400px] transition-all ease-in duration-500">
            <li class="mx-4 my-6 md:my-0">
                <a href="home.html"
                    class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Home</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="services.html"
                    class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Service</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="about.html"
                    class="text-xl hover:text-blue-500 duration-500 font-poppins nav-link active block text-center md:text-left">About</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="events.html"
                    class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Events</a>
            </li>
            <li class="mx-4 my-6 md:my-0">
                <a href="contact.html"
                    class="bg-blue-500 text-white font-[Poppins] duration-500 px-6 py-2 w-[150px] text-center block mx-auto md:mx-4 hover:bg-blue-700 rounded-lg">
                    Contact
                </a>
            </li>
        </ul>
    </nav>
    <!-- END Navbar -->

    <!-- WHO WE ARE -->
    <section class="container mx-auto flex flex-col md:flex-row items-center mb-16 px-4 md:px-12 fade-in mt-32">
        <div class="md:w-1/2 md:pr-6 md:mb-0 text-center md:text-left">
            <h2 class="text-3xl md:text-5xl font-bold mb-4 font-poppins">
                WHO WE ARE?
            </h2>
            <p class="text-lg mb-6 font-poppins">
                WE HAVE 10 YEARS OF EXPERIENCE
            </p>
            <p class="text-gray-400 mb-6 font-opensans">
                PT. Nawasena Sinergi Gemilang (NAWASENA) is a company specializing in event planning and production.
                Established in January 2023, we may be a young company, but our team has over 10 years of experience in
                organizing and producing events, dating back to 2013.
            </p>
        </div>
        <div class="md:w-1/2 flex justify-center">
            <img alt="Image of people racing go-karts" class="about w-full max-w-sm md:max-w-md lg:max-w-lg rounded-lg"
                src="../assets/about-wm.jpg" />
        </div>
    </section>
    <!-- END WHO WE ARE -->

    <!-- Legality -->
    <section
        class="legality w-full text-center mt-12 px-4 md:px-20 mb-20 pb-16 fade-in">

        <h2 class="text-3xl font-bold font-poppins mb-10 text-white pt-14 pb-2">Legality of Company</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 pt-2 mt-4">
            <div class="flex flex-col items-center transition-transform transform hover:scale-105">
                <div class="p-6 bg-white rounded-full shadow-lg">
                    <img src="../assets/legal-1.png" alt="Perseroan" class="w-16 h-16">
                </div>
                <span class="mt-4 font-poppins text-white">Perusahaan Berbadan Hukum Perseroan</span>
            </div>
            <div class="flex flex-col items-center transition-transform transform hover:scale-105">
                <div class="p-6 bg-white rounded-full shadow-lg">
                    <img src="../assets/legal-2.png" alt="Kementerian" class="w-16 h-16">
                </div>
                <span class="mt-4 font-poppins text-white">Terdaftar Kementerian</span>
            </div>
            <div class="flex flex-col items-center transition-transform transform hover:scale-105">
                <div class="p-6 bg-white rounded-full shadow-lg">
                    <img src="../assets/legal-3.png" alt="Induk" class="w-16 h-16">
                </div>
                <span class="mt-4 font-poppins text-white">Nomor Induk</span>
            </div>
            <div class="flex flex-col items-center transition-transform transform hover:scale-105">
                <div class="p-6 bg-white rounded-full shadow-lg">
                    <img src="../assets/legal-4.png" alt="Kemenkeu" class="w-16 h-16">
                </div>
                <span class="mt-4 font-poppins text-white">PKP DJP Kemenkeu</span>
            </div>
        </div>
    </section>
    <!-- END Legality -->


    <!-- WHY CHOOSE US? -->
    <section class="text-center mb-28 px-4 md:px-12 fade-in">
        <h2 class="text-3xl font-bold mb-12">WHY CHOOSE US?</h2>
        <div class="space-y-8">
            <style>
                .icon-container {
                    width: 160px;
                    height: 160px;
                    perspective: 800px;
                }

                .rotating-icon {
                    width: 100%;
                    height: 100%;
                    animation: flip 4s linear infinite alternate;
                    transform-style: preserve-3d;
                    backface-visibility: visible;
                }

                @keyframes flip {
                    0% {
                        transform: rotateY(0deg);
                    }

                    100% {
                        transform: rotateY(180deg);
                    }
                }
            </style>

            <!-- TEAMWORK -->
            <div class="flex flex-col md:flex-row items-center md:space-y-0 fade-in">
                <div class="md:w-1/2 md:order-2 flex justify-center"> <!-- Changed ml-10 to justify-center -->
                    <div class="icon-container">
                        <img alt="Icon representing teamwork" class="rotating-icon" src="../assets/teamwork.png" />
                    </div>
                </div>
                <div class="md:w-1/2 text-center md:text-right">
                    <h3 class="text-2xl font-bold text-cyan-600 mb-2">TEAMWORK</h3>
                    <p class="text-white">In a successful team, every individual should have a clear understanding of
                        their respective roles and the duties they are responsible for within a project. It is essential
                        for each member to not only acknowledge their responsibilities but also demonstrate a strong
                        sense of integrity in fulfilling them with dedication and precision. Challenges and obstacles
                        that arise during the course of the project must be approached collectively, fostering open
                        communication and collaboration. By working together to find effective solutions, the team can
                        overcome any difficulties and ensure that the project progresses smoothly and achieves its
                        goals.</p>
                </div>
            </div>

            <!-- CREATIVITY -->
            <div class="flex flex-col md:flex-row items-center md:space-x-4 space-y-4 md:space-y-0 fade-in">
                <div class="md:w-1/2 flex justify-center"> <!-- Changed from md:justify-end to justify-center -->
                    <div class="icon-container">
                        <img alt="Icon representing creativity" class="rotating-icon" src="../assets/idea.png" />
                    </div>
                </div>
                <div class="md:w-1/2 text-center md:text-left">
                    <h3 class="text-2xl font-bold text-cyan-600 mb-2">CREATIVITY</h3>
                    <p class="text-white">We truly value this opportunity because it allows us to showcase our latest
                        skills, innovations, and creative ideas to our clients. Seeing their genuine smiles and
                        experiencing their satisfaction is not just a reward for us but also a measure of our success.
                        It serves as a powerful motivation, pushing us to continuously strive for excellence by crafting
                        remarkable masterpieces that bring joy and happiness. Their positive feedback inspires us to
                        explore new possibilities and deliver even greater experiences, making every project a chance to
                        grow and leave a lasting impact.</p>
                </div>
            </div>

            <!-- TRUSTED -->
            <div class="flex flex-col md:flex-row items-center md:space-x-4 space-y-4 md:space-y-0 fade-in">
                <div class="md:w-1/2 md:order-2 flex justify-center"> <!-- Changed ml-10 to justify-center -->
                    <div class="icon-container">
                        <img alt="Icon representing trust" class="rotating-icon" src="../assets/trust.png" />
                    </div>
                </div>
                <div class="md:w-1/2 text-center md:text-right">
                    <h3 class="text-2xl font-bold text-cyan-600 mb-2">TRUSTED</h3>
                    <p class="text-white">In every project we undertake, trust serves as the cornerstone that
                        strengthens the bond between our team and our clients. We are deeply committed to maintaining
                        transparency in our communication, ensuring reliability in every action we take, and fulfilling
                        every promise we make with unwavering dedication. By prioritizing these values, we aim to create
                        not just solutions but meaningful collaborations that stand the test of time. This approach
                        allows us to cultivate strong, enduring relationships while working hand in hand to achieve
                        shared goals and mutual success.</p>
                </div>
            </div>

            <!-- FAST -->
            <div class="flex flex-col md:flex-row items-center md:space-x-4 space-y-4 md:space-y-0 fade-in">
                <div class="md:w-1/2 flex justify-center"> <!-- Changed justify-end to justify-center -->
                    <div class="icon-container">
                        <img alt="Icon representing speed" class="rotating-icon" src="../assets/fast-time.png" />
                    </div>
                </div>
                <div class="md:w-1/2 text-center md:text-left">
                    <h3 class="text-2xl font-bold text-cyan-600 mb-2">FAST</h3>
                    <p class="text-white">At our company, the principle of 'No Delay' is an integral part of our work
                        culture. We firmly believe that client satisfaction begins with the speed at which we respond to
                        inquiries and requests. There is no doubt that our commitment to fast, efficient service has
                        been key to maintaining long-lasting relationships with our clients. In fact, we consistently
                        work with many repeat clients, which serves as a testament to our quick response times and
                        dedication to addressing their needs in a timely manner.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- END WHY CHOOSE US? -->

    <!-- Footer -->
    <div id="footer"></div>
    <!-- END Footer -->

    <!-- Scripts -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        // script navbar
        function Menu(e) {
            let list = document.getElementById('menu-list');
            if (e.name === 'menu') {
                e.name = "close";
                list.classList.add('top-[70px]', 'opacity-100');
            } else {
                e.name = "menu";
                list.classList.remove('top-[70px]', 'opacity-100');
            }
        }

        // Script Loading
        window.addEventListener("load", () => {
            const loader = document.querySelector(".loader");

            setTimeout(() => {
                loader.classList.add("loader-hidden");

                loader.addEventListener("transitionend", () => {
                    if (document.body.contains(loader)) {
                        document.body.removeChild(loader);
                    }
                });
            }, 1000);
        });

        // Load Footer
        fetch('footer.html')
            .then(response => response.text())
            .then(html => {
                document.getElementById('footer').innerHTML = html;
            })
            .catch(error => console.error('Error fetching footer:', error));

        // Scroll Animation
        document.addEventListener("DOMContentLoaded", function () {
            const fadeInElements = document.querySelectorAll('.fade-in');

            const observerOptions = {
                root: null, // Use the viewport as the root
                rootMargin: '0px',
                threshold: 0.1 // Trigger when 10% of the element is visible
            };

            const observer = new IntersectionObserver((entries, observer) => {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        entry.target.classList.add('visible');
                        observer.unobserve(entry.target); // Stop observing once the animation is triggered
                    }
                });
            }, observerOptions);

            fadeInElements.forEach(element => {
                observer.observe(element);
            });
        });
    </script>
</body>

</html>