<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" href="../assets/logo-nawasena.png" type="image/png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            poppins: ['Poppins', 'sans-serif'],
            opensans: ['Open Sans', 'sans-serif'],
          },
        },
      },
    };
  </script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  <style>
    .fade-in {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: white;
      /* Ubah warna sesuai kebutuhan */
      width: 40px;
      /* Lebar tombol */
      height: 40px;
    }

    .nav-link.active {
      color: #60a5fa;
      /* Change this to your desired active color */
      font-weight: bold;
      /* Optional: make it bold */
    }
  </style>
</head>

<body class="bg-black text-white">
  <!-- Navbar -->
  <nav
    class="p-5 bg-black bg-opacity-90 shadow md:flex md:items-center md:justify-between fixed top-0 left-0 w-full z-50">
    <div class="flex justify-between items-center">
      <a href="home.html" class="text-2xl font-[Poppins] cursor-pointer ml-4">
        <img class="h-12 inline" src="../assets/logo.png" alt="Logo">
      </a>

      <!-- Tombol menu hamburger untuk mobile -->
      <span class="text-3xl cursor-pointer mx-2 md:hidden block">
        <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
      </span>
    </div>

    <!-- Navigasi -->
    <ul id="menu-list"
      class="md:flex md:items-center z-50 md:z-auto md:static absolute bg-black md:bg-transparent w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 opacity-0 md:opacity-100 top-[-400px] transition-all ease-in duration-500">
      <li class="mx-4 my-6 md:my-0">
        <a href="home.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins nav-link active block text-center md:text-left">Home</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="services.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Service</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="about.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">About</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="events.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Events</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="contact.html"
          class="bg-blue-500 text-white font-[Poppins] duration-500 px-6 py-2 w-[150px] text-center block mx-auto md:mx-4 hover:bg-cyan-400 rounded">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Slider -->
  <div class="slider mt-32">
    <div class="list">
      <div class="item">
        <img src="../assets/thumbnail/thumbnail-1.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail-2.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail-3.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail-4.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail-5.jpg" alt="">
      </div>
    </div>
    <div class="buttons">
      <button id="prev">
        < </button>
          <button id="next">></button>
    </div>
    <ul class="dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- End Slider -->

  <!-- Services Section -->
  <section class="text-center mt-12 px-4 md:px-20 fade-in">
    <h2 class="text-3xl font-bold font-poppins">Event Management That We Offer You</h2>
    <p class="text-gray-300 mt-2 font-opensans">In addition to handling event management, Nawasena also operates as a
      support event organizer, specializing in supporting all production and rental equipment.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-8">
      <a href="booth.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/booth-ex.png" alt="Booth" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Booth Exhibition</span>
      </a>

      <a href="custom.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-custom.png" alt="Production" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Custom Production</span>
      </a>

      <a href="rental.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-rental.png" alt="Rental" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Rental Equipment</span>
      </a>

      <div class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-support.png" alt="Support" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Support All Product</span>
      </div>
    </div>
  </section>
  <!-- END Services-->

  <!-- Documentation Section -->
  <section class="product">
    <h2 class="product-category text-center text-3xl font-poppins">Project Documentation</h2>
    <button class="pre-btn"><img src="../assets/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="../assets/arrow.png" alt=""></button>
    <div class="product-container">
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm1.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">Opening Ceremony of Jakarta Representative Office-Nippon Kikai Shoji Co.,LTD</h2>
          <p class="product-short-description">Jakarta</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm2.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">PSS Gala Dinner 2023-Jakarta</h2>
          <p class="product-short-description">Jakarta</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm3.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">Reborn, Transform & Elevate</h2>
          <p class="product-short-description">Jakarta</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm4.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">Sehat Bareng Jasindo</h2>
          <p class="product-short-description">Jakarta</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm5.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">Apel Kasatwil</h2>
          <p class="product-short-description">Jakarta</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm6.jpg" class="product-thumb" alt="">
        </div>
        <div class="product-info">
          <h2 class="product-brand">Launching Rans Food</h2>
          <p class="product-short-description">Rans Office</p>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- END Documentation-->

  <!-- Our Client -->
  <section class="our-client container mx-auto py-12 fade-in">
    <h1 class="text-3xl font-bold text-center mb-8 font-poppins">
      Our Clients
    </h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
      <!-- PAGE 1 -->
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 1" src="../assets/clients/pertamina.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 2" class="h-24 w-24" src="../assets/clients/plataran.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 3" src="../assets/clients/ggf.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 4" src="../assets/clients/antam.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 5" src="../assets/clients/yamaha.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 6" src="../assets/clients/j&t.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 7" class="h-24 w-24" src="../assets/clients/kadin.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 8" src="../assets/clients/capsugel.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 9" src="../assets/clients/jotun.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 10" src="../assets/clients/hyundai.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 11" src="../assets/clients/astra.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 12" class="bg-white" src="../assets/clients/country-fiesta.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 13" class="bg-white h-24 w-24" src="../assets/clients/kideco.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 14" class="bg-white" src="../assets/clients/indika.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 15" class="h-24 w-24" src="../assets/clients/PPATK.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 16" class="h-24 w-24" src="../assets/clients/kemenko.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 17" src="../assets/clients/bpjs.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 18" src="../assets/clients/sidomuncul.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 19" class="bg-white" src="../assets/clients/BP2MI.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 20" class="bg-white" src="../assets/clients/bumn.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 21" class="h-24 w-24" src="../assets/clients/pan.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 22" class="w-24 h-24 " src="../assets/clients/nasdem.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 23" class="bg-white" src="../assets/clients/samudera.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 24" class="w-24 h-24" src="../assets/clients/asean.png" />
      </div>
      <!-- END PAGE 1 -->
      <!-- PAGE 2 -->
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 25" class="h-20 w-28" src="../assets/clients/btpn.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 26" class="bg-white" src="../assets/clients/bareksa.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 27" class="h-24 w-24" src="../assets/clients/energi.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 28" class="h-24 w-24" src="../assets/clients/BPK.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 29" class="h-24 w-24 bg-white" src="../assets/clients/LPS.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 30" class="h-24 w-24" src="../assets/clients/BPDPKS.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 31" class="bg-white" src="../assets/clients/telkomsel.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 32" class="bg-white" src="../assets/clients/loreal.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 33" class="h-24 w-24" src="../assets/clients/bni.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 34" class="h-24 w-24" src="../assets/clients/ferarri.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 35" src="../assets/clients/bri.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 36" class="h-24 w-24" src="../assets/clients/jims-honey.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 37" class="h-24 w-20" src="../assets/clients/dishub.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 38" class="h-24 w-24" src="../assets/clients/ppa.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 39" src="../assets/clients/blibli.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 40" src="../assets/clients/ovo.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 41" src="../assets/clients/mandiri.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 42" class="bg-white" src="../assets/clients/nyx.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 43" class="h-24 w-24 bg-white" src="../assets/clients/sandra-dewi.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 44" class="h-26 w-24" src="../assets/clients/PLN.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 45" class="bg-white" src="../assets/clients/zain.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 46" class="h-24 w-24" src="../assets/clients/ayam-gepuk.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 47" class="h-24 w-24" src="../assets/clients/cheris.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 48" class="h-24 w-24" src="../assets/clients/badan-siber.png" />
      </div>
      <!-- END PAGE 2 -->
      <!-- PAGE 3 -->
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 49" class="h-26 w-26 bg-white" src="../assets/clients/jaya.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 50" class="h-26 w-26 bg-white" src="../assets/clients/sinarmas.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 51" class="h-24 w-24" src="../assets/clients/rockstar-gym.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 52" src="../assets/clients/magnet.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 53" class="bg-white" src="../assets/clients/hotel.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 54" class="bg-white" src="../assets/clients/pp.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 55" src="../assets/clients/nitro.jpeg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 56" src="../assets/clients/royal.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 57" src="../assets/clients/lego.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 58" src="../assets/clients/politeknik.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 59" class="bg-white" src="../assets/clients/indonesia.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 60" class="bg-white" src="../assets/clients/btn.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 61" src="../assets/clients/cakrawala.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 62" src="../assets/clients/puspomad.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 63" src="../assets/clients/bart.jpg" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 64" src="../assets/clients/airfast.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 65" src="../assets/clients/pemda.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 66" src="../assets/clients/nippon.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 67" src="../assets/clients/pupr.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 68" src="../assets/clients/bank-ina.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 69" src="../assets/clients/singapore.png" />
      </div>
      <div class="client-logo border p-4 flex items-center justify-center">
        <img alt="Client logo 69" src="../assets/clients/maipark.png" />
      </div>
      <!-- END PAGE 3 -->
    </div>
    <!-- Pagination -->
    <div class="flex justify-center mt-8">
      <nav aria-label="Pagination">
        <ul class="inline-flex items-center space-x-4">
          <li>
            <button id="page-1"
              class="pagination-button px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-200"
              onclick="changePage(1)">1</button>
          </li>
          <li>
            <button id="page-2"
              class="pagination-button px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-200"
              onclick="changePage(2)">2</button>
          </li>
          <li>
            <button id="page-3"
              class="pagination-button px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-gray-200"
              onclick="changePage(3)">3</button>
          </li>
        </ul>
      </nav>
    </div>
    <!-- END Pagination -->
  </section>
  <!-- END Our Client -->

  <!-- Our Partner -->
  <section class="container mx-auto py-12">
    <h1 class="text-center text-3xl font-bold mb-8">
      Our Partner
    </h1>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of GASINDO" height="150" src="../assets/partner/gasindo.jpg" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of LEXA" height="150" class="bg-white" src="../assets/partner/lexa.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of Ars" height="150" src="../assets/partner/ars.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of CENTRAL events" height="150" src="../assets/partner/central-event.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of SR Solusi Rental Equipment" height="150" src="../assets/partner/melvi.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of Total Rental" height="150" class="bg-white" src="../assets/partner/total.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of SHUTSHOOT OFFICIAL" height="150" class="bg-white" src="../assets/partner/shuttshot.png"
          width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of Bintang Jaya" height="150" class="bg-white" src="../assets/partner/wb.png" width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of MAXINDO LED" height="150" class="bg-white" src="../assets/partner/bintang-jaya.png"
          width="150" />
      </div>
      <div class="p-4 border border-white flex items-center justify-center">
        <img alt="Logo of W3" height="150" src="../assets/partner/maxindo.png" width="150" />
      </div>
    </div>
  </section>
  <!-- END Our Partner -->

  <!-- Our Community -->
  <section class="container mx-auto py-12 text-center">
    <h1 class="text-3xl font-bold mb-8">Our Community</h1>
    <div class="flex justify-center">
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 max-w-fit mx-auto">
        <div class="p-4 border border-white flex items-center justify-center">
          <img alt="Logo of GASINDO" height="150" src="../assets/community/rental.png" width="150" />
        </div>
        <div class="p-4 border border-white flex items-center justify-center">
          <img alt="Logo of LEXA" height="150" class="bg-white" src="../assets/community/pekerja.jpg" width="150" />
        </div>
        <div class="p-4 border border-white flex items-center justify-center">
          <img alt="Logo of Ars" height="150" src="../assets/community/rmi.jpg" width="150" />
        </div>
        <div class="p-4 border border-white flex items-center justify-center">
          <img alt="Logo of CENTRAL events" height="150" src="../assets/community/eoc.jpeg" width="150" />
        </div>
      </div>
    </div>
  </section>
  <!-- END Our Community -->

  <!-- Our Team -->
  <section class="our-team bg-gradient-to-r from-orange-500 via-gray-400 to-blue-500 py-16 relative fade-in mb-20">
    <!-- Header -->
    <div class="text-center text-white px-4">
      <h2 class="text-4xl md:text-3xl font-bold font-poppins drop-shadow-lg">Professional Team</h2>
      <p class="mt-4 text-sm md:text-lg max-w-2xl mx-auto font-opensans">
        Nawasena has a team of professionals in their respective fields, where every action and decision prioritizes
        professionalism and client satisfaction.
      </p>
    </div>

    <!-- Wrapper for Content -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center justify-center mt-12 px-6">
      <!-- Card 1 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px]">
        <img alt="Portrait of Ratno" class="rounded-lg w-40 h-40 md:w-48 md:h-48 object-contain mx-auto mb-4"
          src="../assets/mas-ratno.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Ratno
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">Head of Operational</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            An experienced operations manager who ensures that all operations run smoothly and efficiently while
            providing the best solutions for every challenge encountered.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px]">
        <img alt="Portrait of Mulyo Prabowo" class="rounded-lg w-30 h-30 md:w-30 md:h-30 object-cover mx-auto mb-4"
          src="../assets/pak-yoyo-removebg-preview.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Mulyo Prabowo
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">CEO</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            A CEO with experience in event organizing and production, supported by a strong team that prioritizes
            client satisfaction.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px]">
        <img alt="Portrait of Tyas Ramadhianta" class="rounded-lg w-32 h-32 md:w-48 md:h-48 object-cover mx-auto mb-4"
          src="../assets/mba-tyas-removebg-preview.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Tyas
            Ramadhianta
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">Sales Marketing</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            An experienced sales marketer who ensures marketing strategies run effectively and efficiently while
            providing the best solutions to boost sales and customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END Our Team -->

  <!-- Footer -->
  <div id="footer"></div>
  <!-- END Footer -->

  <!-- Scripts -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="slider.js"></script>
  <script src="documentation.js"></script>
  <script>
    //script navbar
    function Menu(e) {
      let list = document.getElementById('menu-list');
      if (e.name === 'menu') {
        e.name = "close";
        list.classList.add('top-[70px]', 'opacity-100');
      } else {
        e.name = "menu";
        list.classList.remove('top-[70px]', 'opacity-100');
      }
    }

    // Load Footer
    fetch('footer.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('footer').innerHTML = html;
      })
      .catch(error => console.error('Error fetching footer:', error));

    // Referensi elemen
    const leftArrow = document.getElementById("left-arrow");
    const rightArrow = document.getElementById("right-arrow");
    const documentationCards = document.querySelectorAll(".documentation-card");
    const paginationDots = document.querySelectorAll(".pagination-dots div");

    // Fungsi untuk memperbarui konten card dan pagination
    function updateCards() {
      documentationCards.forEach((card, index) => {
        const dataIndex = (currentIndex + index) % documentationData.length;
        const data = documentationData[dataIndex];
        card.querySelector("img").src = data.imgSrc;
        card.querySelector("h2").textContent = data.title;
        card.querySelector("p").textContent = data.location;
      });

      // Update pagination dots
      paginationDots.forEach((dot, index) => {
        dot.classList.toggle('bg-black', index === currentIndex);
        dot.classList.toggle('bg-gray-300', index !== currentIndex);
      });
    }

    // Event listener untuk tombol panah
    leftArrow.addEventListener("click", () => {
      currentIndex = (currentIndex - 1 + documentationData.length) % documentationData.length;
      updateCards();
    });

    rightArrow.addEventListener("click", () => {
      currentIndex = (currentIndex + 1) % documentationData.length;
      updateCards();
    });

    // Inisialisasi konten awal (dokumentasi)
    updateCards();

    // CLIENT: Fungsi untuk mengganti halaman pagination
    // Fungsi untuk mengganti tampilan logo saat tombol pagination diklik
    function changePage(pageNumber) {
      const allLogos = document.querySelectorAll('.client-logo'); // Ambil semua logo
      const logosPerPage = 24; // Jumlah logo per halaman
      const startIndex = (pageNumber - 1) * logosPerPage;
      const endIndex = pageNumber * logosPerPage;

      // Sembunyikan semua logo
      allLogos.forEach(logo => logo.style.display = 'none');

      // Tampilkan logo yang sesuai dengan halaman yang dipilih
      for (let i = startIndex; i < endIndex && i < allLogos.length; i++) {
        allLogos[i].style.display = 'flex'; // Pastikan logo ditampilkan dengan flex
      }

      // Update tombol pagination
      const buttons = document.querySelectorAll('.pagination-button');
      buttons.forEach(button => {
        button.classList.remove('active'); // Hapus kelas active dari semua tombol
      });
      buttons[pageNumber - 1].classList.add('active'); // Tambahkan kelas active pada tombol yang sesuai
    }

    // Menampilkan halaman pertama saat pertama kali load
    window.onload = () => changePage(1);
    // END CLIENT

    // Scroll Animation
    document.addEventListener("DOMContentLoaded", function () {
      const fadeInElements = document.querySelectorAll('.fade-in');

      const observerOptions = {
        root: null, // Use the viewport as the root
        rootMargin: '0px',
        threshold: 0.1 // Trigger when 10% of the element is visible
      };

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
            observer.unobserve(entry.target); // Stop observing once the animation is triggered
          }
        });
      }, observerOptions);

      fadeInElements.forEach(element => {
        observer.observe(element);
      });
    });
  </script>

</body>

</html>