<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Nawasena</title>
  <link rel="icon" href="../assets/logo-nawasena.png" type="image/png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            poppins: ['Poppins', 'sans-serif'],
            opensans: ['Open Sans', 'sans-serif'],
          },
        },
      },
    };
  </script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  <style>
    .fade-in {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }

    .fade-in.visible {
      opacity: 1;
      transform: translateY(0);
    }

    .swiper-button-next,
    .swiper-button-prev {
      color: white;
      /* Ubah warna sesuai kebutuhan */
      width: 40px;
      /* Lebar tombol */
      height: 40px;
    }

    .nav-link.active {
      color: #60a5fa;
      /* Change this to your desired active color */
      font-weight: bold;
      /* Optional: make it bold */
    }

    .loader {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: #f7f9fb;
      transition: opacity 0.75s, visibility 0.75s;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .loader-hidden {
      opacity: 0;
      visibility: hidden;
    }

    .loader::after {
      content: "";
      width: 75px;
      height: 75px;
      border: 15px solid #dddddd;
      border-top-color: #60a5fa;
      border-radius: 50%;
      animation: loading 0.75s ease infinite;
    }

    @keyframes loading {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }
    }

    .partner-logo {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .partner-logo:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }

    .community-logo {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .community-logo:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>

<body class="bg-black text-white">
  <!-- Loader -->
  <div class="loader"></div>
  <!-- End Loader -->

  <!-- Navbar -->
  <nav
    class="p-5 bg-black bg-opacity-90 shadow md:flex md:items-center md:justify-between fixed top-0 left-0 w-full z-50">
    <div class="flex justify-between items-center">
      <a href="home.html" class="text-2xl font-[Poppins] cursor-pointer ml-4">
        <img class="h-12 inline" src="../assets/logo.png" alt="Logo">
      </a>

      <!-- Tombol menu hamburger untuk mobile -->
      <span class="text-3xl cursor-pointer mx-2 md:hidden block">
        <ion-icon name="menu" onclick="Menu(this)"></ion-icon>
      </span>
    </div>

    <!-- Navigasi -->
    <ul id="menu-list"
      class="md:flex md:items-center z-50 md:z-auto md:static absolute bg-black md:bg-transparent w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 opacity-0 md:opacity-100 top-[-400px] transition-all ease-in duration-500">
      <li class="mx-4 my-6 md:my-0">
        <a href="home.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins nav-link active block text-center md:text-left">Home</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="services.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Service</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="about.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">About</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="events.html"
          class="text-xl hover:text-blue-500 duration-500 font-poppins block text-center md:text-left">Events</a>
      </li>
      <li class="mx-4 my-6 md:my-0">
        <a href="contact.html"
          class="bg-blue-500 text-white font-[Poppins] duration-500 px-6 py-2 w-[150px] text-center block mx-auto md:mx-4 hover:bg-cyan-400 rounded">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Slider -->
  <div class="slider mt-32">
    <div class="list">
      <div class="item">
        <img src="../assets/thumbnail/thumbnail1.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail2.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail3.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail4.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail5.jpg" alt="">
      </div>
      <div class="item">
        <img src="../assets/thumbnail/thumbnail6.jpg" alt="">
      </div>
    </div>
    <div class="buttons">
      <button id="prev">
        < </button>
          <button id="next">></button>
    </div>
    <ul class="dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- End Slider -->

  <!-- Services Section -->
  <section class="text-center mt-12 px-4 md:px-20 fade-in">
    <h2 class="text-3xl font-bold font-poppins">Event Management That We Offer You</h2>
    <p class="text-gray-300 mt-2 font-opensans">In addition to handling event management, Nawasena also operates as a
      support event organizer, specializing in supporting all production and rental equipment.</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-8">
      <a href="booth.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/booth-ex.png" alt="Booth" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Booth Exhibition</span>
      </a>

      <a href="custom.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-custom.png" alt="Production" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Custom Production</span>
      </a>

      <a href="rental.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-rental.png" alt="Rental" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Rental Equipment</span>
      </a>

      <a href="support.html" class="flex flex-col items-center">
        <div class="p-6 bg-white rounded-full transition duration-300 hover:scale-110">
          <img src="../assets/icon-support.png" alt="Support" class="w-12 h-12">
        </div>
        <span class="mt-4 font-poppins">Support All Product</span>
      </a>
    </div>
  </section>
  <!-- END Services-->

  <!-- Documentation Section -->
  <section class="product fade-in">
    <h2 class="mb-4 font-bold text-3xl font-poppins">Project Documentation</h2>
    <button class="pre-btn"><img src="../assets/arrow.png" alt=""></button>
    <button class="nxt-btn"><img src="../assets/arrow.png" alt=""></button>
    <div class="product-container">
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm1.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Jakarta
          </span>
        </div>
        <div class="product-info">
          <h2 class="product-brand">Opening Ceremony of Jakarta Representative Office-Nippon Kikai Shoji Co.,LTD</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm2.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Jakarta
          </span>          
        </div>
        <div class="product-info">
          <h2 class="product-brand">PSS Gala Dinner 2023</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm3.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Jakarta
          </span>          
        </div>
        <div class="product-info">
          <h2 class="product-brand">Reborn, Transform & Elevate</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm4.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Jakarta
          </span>          
        </div>
        <div class="product-info">
          <h2 class="product-brand">Sehat Bareng Jasindo</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm5.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Jakarta
          </span>          
        </div>
        <div class="product-info">
          <h2 class="product-brand">Apel Kasatwil</h2>
        </div>
      </div>
      <div class="product-card">
        <div class="product-image">
          <img src="../assets/dokumentasi/dokum-wm6.jpg" class="product-thumb" alt="">
          <span class="hover-location">
            <i class="fas fa-map-marker-alt"></i> Rans Office
          </span>          
        </div>
        <div class="product-info">
          <h2 class="product-brand">Launching Rans Food</h2>
        </div>
      </div>
    </div>
    </div>
  </section>
  <!-- END Documentation-->

  <!-- Client Section -->
  <div class="text-center mt-12">
    <h2 class="text-3xl font-bold font-poppins">Our Clients</h2>
  </div>
  <div class="logos fade-in mt-6">
    <div class="logos-slide w-[1000%]">
      <!-- Logo Asli -->
      <img class="client-logo" src="../assets/clients/capsugel.png" />
      <img class="client-logo" src="../assets/clients/ggf.png" />
      <img class="client-logo" src="../assets/clients/antam.png" />
      <img class="client-logo" src="../assets/clients/yamaha.png" />
      <img class="client-logo" src="../assets/clients/j&t.png" />
      <img class="client-logo" src="../assets/clients/kadin.png" />
      <img class="client-logo" src="../assets/clients/pertamina.jpeg" />
      <img class="client-logo" src="../assets/clients/plataran.png" />
      <img class="client-logo" src="../assets/clients/jotun.png" />
      <img class="client-logo" src="../assets/clients/hyundai.png" />
      <img class="client-logo" src="../assets/clients/astra.png" />
      <img class="client-logo" src="../assets/clients/country-fiesta.png" />
      <img class="client-logo" src="../assets/clients/kideco.png" />
      <img class="client-logo" src="../assets/clients/indika.png" />
      <img class="client-logo" src="../assets/clients/PPATK.png" />
      <img class="client-logo" src="../assets/clients/kemenko.png" />
      <img class="client-logo" src="../assets/clients/bpjs.png" />
      <img class="client-logo" src="../assets/clients/sidomuncul.png" />
      <img class="client-logo" src="../assets/clients/BP2MI.png" />
      <img class="client-logo" src="../assets/clients/bumn.png" />
      <img class="client-logo" src="../assets/clients/pan.jpeg" />
      <img class="client-logo" src="../assets/clients/nasdem.jpeg" />
      <img class="client-logo" src="../assets/clients/samudera.png" />
      <img class="client-logo" src="../assets/clients/asean.png" />
      <img class="client-logo" src="../assets/clients/btpn.png" />
      <img class="client-logo" src="../assets/clients/bareksa.png" />
      <img class="client-logo" src="../assets/clients/energi.png" />
      <img class="client-logo" src="../assets/clients/BPK.png" />
      <img class="client-logo" src="../assets/clients/LPS.png" />
      <img class="client-logo" src="../assets/clients/BPDPKS.jpeg" />
      <img class="client-logo" src="../assets/clients/telkomsel.png" />
      <img class="client-logo" src="../assets/clients/loreal.png" />
      <img class="client-logo" src="../assets/clients/bni.png" />
      <img class="client-logo" src="../assets/clients/ferarri.png" />
      <img class="client-logo" src="../assets/clients/bri.png" />
      <img class="client-logo" src="../assets/clients/jims-honey.png" />
      <img class="client-logo" src="../assets/clients/dishub.png" />
      <img class="client-logo" src="../assets/clients/ppa.png" />
      <img class="client-logo" src="../assets/clients/blibli.png" />
      <img class="client-logo" src="../assets/clients/ovo.png" />
      <img class="client-logo" src="../assets/clients/mandiri.png" />
      <img class="client-logo" src="../assets/clients/nyx.png" />
      <img class="client-logo" src="../assets/clients/sandra-dewi.png" />
      <img class="client-logo" src="../assets/clients/PLN.png" />
      <img class="client-logo" src="../assets/clients/zain.png" />
      <img class="client-logo" src="../assets/clients/cheris.jpeg" />
      <img class="client-logo" src="../assets/clients/badan-siber.png" />
      <img class="client-logo" src="../assets/clients/jaya.png" />
      <img class="client-logo" src="../assets/clients/sinarmas.png" />
      <img class="client-logo" src="../assets/clients/rockstar-gym.jpeg" />
      <img class="client-logo" src="../assets/clients/magnet.png" />
      <img class="client-logo" src="../assets/clients/hotel.png" />
      <img class="client-logo" src="../assets/clients/pp.png" />
      <img class="client-logo" src="../assets/clients/nitro.jpeg" />
      <img class="client-logo" src="../assets/clients/royal.png" />
      <img class="client-logo" src="../assets/clients/singapore-airlines.png" />
      <img class="client-logo" src="../assets/clients/lego.png" />
      <img class="client-logo" src="../assets/clients/politeknik.png" />
      <img class="client-logo" src="../assets/clients/indonesia.png" />
      <img class="client-logo" src="../assets/clients/btn.png" />
      <img class="client-logo" src="../assets/clients/cakrawala.png" />
      <img class="client-logo" src="../assets/clients/puspomad.png" />
      <img class="client-logo" src="../assets/clients/airfast.png" />
      <img class="client-logo" src="../assets/clients/pemda.png" />
      <img class="client-logo" src="../assets/clients/pupr.png" />
      <img class="client-logo" src="../assets/clients/bank-ina.png" />
      <img class="client-logo" src="../assets/clients/maipark.png" />
      <img class="client-logo" src="../assets/clients/nippon.png" />
      <img class="client-logo" src="../assets/clients/bintang.png" />
      <img class="client-logo" src="../assets/clients/polres.png" />
      <img class="client-logo" src="../assets/clients/pengayoman.png" />
      <img class="client-logo" src="../assets/clients/imigrasi.png" />
      <img class="client-logo" src="../assets/clients/honda.jpg" />
      <img class="client-logo" src="../assets/clients/jasindo.png" />
      <img class="client-logo" src="../assets/clients/chery.png" />
      <img class="client-logo" src="../assets/clients/pullman.jpg" />
      <img class="client-logo" src="../assets/clients/kimia-farma.png" />
      <img class="client-logo" src="../assets/clients/tolak-angin.png" />
      <img class="client-logo" src="../assets/clients/sdg.png" />
      <img class="client-logo" src="../assets/clients/wxd.png" />
      <img class="client-logo" src="../assets/clients/cgs.jpg" />
      <img class="client-logo" src="../assets/clients/yestech.png" />

      <!-- Logo untuk Looping -->
      <img class="client-logo" src="../assets/clients/capsugel.png" />
      <img class="client-logo" src="../assets/clients/ggf.png" />
      <img class="client-logo" src="../assets/clients/antam.png" />
      <img class="client-logo" src="../assets/clients/yamaha.png" />
      <img class="client-logo" src="../assets/clients/j&t.png" />
      <img class="client-logo" src="../assets/clients/kadin.png" />
      <img class="client-logo" src="../assets/clients/pertamina.jpeg" />
      <img class="client-logo" src="../assets/clients/plataran.png" />
      <img class="client-logo" src="../assets/clients/jotun.png" />
      <img class="client-logo" src="../assets/clients/hyundai.png" />
      <img class="client-logo" src="../assets/clients/astra.png" />
      <img class="client-logo" src="../assets/clients/country-fiesta.png" />
      <img class="client-logo" src="../assets/clients/kideco.png" />
      <img class="client-logo" src="../assets/clients/indika.png" />
      <img class="client-logo" src="../assets/clients/PPATK.png" />
      <img class="client-logo" src="../assets/clients/kemenko.png" />
      <img class="client-logo" src="../assets/clients/bpjs.png" />
      <img class="client-logo" src="../assets/clients/sidomuncul.png" />
      <img class="client-logo" src="../assets/clients/BP2MI.png" />
      <img class="client-logo" src="../assets/clients/bumn.png" />
      <img class="client-logo" src="../assets/clients/pan.jpeg" />
      <img class="client-logo" src="../assets/clients/nasdem.jpeg" />
      <img class="client-logo" src="../assets/clients/samudera.png" />
      <img class="client-logo" src="../assets/clients/asean.png" />
      <img class="client-logo" src="../assets/clients/btpn.png" />
      <img class="client-logo" src="../assets/clients/bareksa.png" />
      <img class="client-logo" src="../assets/clients/energi.png" />
      <img class="client-logo" src="../assets/clients/BPK.png" />
      <img class="client-logo" src="../assets/clients/LPS.png" />
      <img class="client-logo" src="../assets/clients/BPDPKS.jpeg" />
      <img class="client-logo" src="../assets/clients/telkomsel.png" />
      <img class="client-logo" src="../assets/clients/loreal.png" />
      <img class="client-logo" src="../assets/clients/bni.png" />
      <img class="client-logo" src="../assets/clients/ferarri.png" />
      <img class="client-logo" src="../assets/clients/bri.png" />
      <img class="client-logo" src="../assets/clients/jims-honey.png" />
      <img class="client-logo" src="../assets/clients/dishub.png" />
      <img class="client-logo" src="../assets/clients/ppa.png" />
      <img class="client-logo" src="../assets/clients/blibli.png" />
      <img class="client-logo" src="../assets/clients/ovo.png" />
      <img class="client-logo" src="../assets/clients/mandiri.png" />
      <img class="client-logo" src="../assets/clients/nyx.png" />
      <img class="client-logo" src="../assets/clients/sandra-dewi.png" />
      <img class="client-logo" src="../assets/clients/PLN.png" />
      <img class="client-logo" src="../assets/clients/zain.png" />
      <img class="client-logo" src="../assets/clients/cheris.jpeg" />
      <img class="client-logo" src="../assets/clients/badan-siber.png" />
      <img class="client-logo" src="../assets/clients/jaya.png" />
      <img class="client-logo" src="../assets/clients/sinarmas.png" />
      <img class="client-logo" src="../assets/clients/rockstar-gym.jpeg" />
      <img class="client-logo" src="../assets/clients/magnet.png" />
      <img class="client-logo" src="../assets/clients/hotel.png" />
      <img class="client-logo" src="../assets/clients/pp.png" />
      <img class="client-logo" src="../assets/clients/nitro.jpeg" />
      <img class="client-logo" src="../assets/clients/royal.png" />
      <img class="client-logo" src="../assets/clients/lego.png" />
      <img class="client-logo" src="../assets/clients/politeknik.png" />
      <img class="client-logo" src="../assets/clients/indonesia.png" />
      <img class="client-logo" src="../assets/clients/btn.png" />
      <img class="client-logo" src="../assets/clients/cakrawala.png" />
      <img class="client-logo" src="../assets/clients/puspomad.png" />
      <img class="client-logo" src="../assets/clients/airfast.png" />
      <img class="client-logo" src="../assets/clients/pemda.png" />
      <img class="client-logo" src="../assets/clients/pupr.png" />
      <img class="client-logo" src="../assets/clients/bank-ina.png" />
      <img class="client-logo" src="../assets/clients/singapore-airlines.png" />
      <img class="client-logo" src="../assets/clients/maipark.png" />
      <img class="client-logo" src="../assets/clients/nippon.png" />
      <img class="client-logo" src="../assets/clients/bintang.png" />
      <img class="client-logo" src="../assets/clients/polres.png" />
      <img class="client-logo" src="../assets/clients/pengayoman.png" />
      <img class="client-logo" src="../assets/clients/imigrasi.png" />
      <img class="client-logo" src="../assets/clients/honda.jpg" />
      <img class="client-logo" src="../assets/clients/jasindo.png" />
      <img class="client-logo" src="../assets/clients/chery.png" />
      <img class="client-logo" src="../assets/clients/pullman.jpg" />
      <img class="client-logo" src="../assets/clients/kimia-farma.png" />
      <img class="client-logo" src="../assets/clients/tolak-angin.png" />
      <img class="client-logo" src="../assets/clients/sdg.png" />
      <img class="client-logo" src="../assets/clients/wxd.png" />
      <img class="client-logo" src="../assets/clients/cgs.jpg" />
      <img class="client-logo" src="../assets/clients/yestech.png" />
    </div>
  </div>
  <!-- END Client -->

  <!-- Partner Section -->
  <div class="container mx-auto text-center mt-12 fade-in">
    <h2 class="text-3xl font-bold mb-6 font-poppins">Our Partners</h2>
    <section class="customer-logos flex flex-wrap justify-center items-center gap-6 mb-6">
      <div class="slide"><img class="partner-logo" src="../assets/partner/gasindo.jpg" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/lexa.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo" src="../assets/partner/ars.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo" src="../assets/partner/central-event.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/melvi.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/total.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/shuttshot.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo" src="../assets/partner/bart.jpg" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/wb.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo bg-white" src="../assets/partner/bintang-jaya.png" alt="logo"></div>
      <div class="slide"><img class="partner-logo" src="../assets/partner/maxindo.png" alt="logo"></div>
    </section>
  </div>
  <!-- END Partner -->

  <!-- Our Community -->
  <section class="mb-8 fade-in">
    <h2 class="text-center text-3xl font-bold mb-4 font-poppins">
      Our Community
    </h2>
    <section class="flex justify-center">
      <div class="grid grid-cols-2 gap-8 p-6 rounded-lg">
        <!-- Baris Atas -->
        <img class="w-24 h-24 object-contain mx-auto community-logo" src="../assets/community/rental-indonesia.jpg"
          alt="Rental Indonesia" />
        <img class="w-24 h-24 object-contain mx-auto community-logo" src="../assets/community/eoc.jpeg"
          alt="EOC Indonesia" />

        <!-- Baris Bawah -->
        <img class="w-52 h-20 object-contain mx-auto community-logo" src="../assets/community/pekerja.jpg"
          alt="Pekerja Event Indonesia" />
        <img class="w-52 h-20 object-contain mx-auto community-logo" src="../assets/community/rmi.jpg"
          alt="Rental Muslim Indonesia" />

      </div>
    </section>
  </section>
  <!-- END Our Community -->

  <!-- Our Team -->
  <section class="bg-gradient-to-r from-orange-500 via-gray-400 to-blue-500 py-16 relative mb-20 fade-in">
    <!-- Header -->
    <div class="text-center text-white px-4">
      <h2 class="text-4xl md:text-3xl font-bold font-poppins drop-shadow-lg">Professional Team</h2>
      <p class="mt-4 text-sm md:text-lg max-w-2xl mx-auto font-opensans">
        Nawasena has a team of professionals in their respective fields, where every action and decision prioritizes
        professionalism and client satisfaction.
      </p>
    </div>

    <!-- Wrapper for Content -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center justify-center mt-12 px-6">
      <!-- Card 1 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px] fade-in">
        <img alt="Portrait of Ratno" class="rounded-lg w-40 h-40 md:w-48 md:h-48 object-contain mx-auto mb-4"
          src="../assets/mas-ratno.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Ratno
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">Head of Operational</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            An experienced operations manager who ensures that all operations run smoothly and efficiently while
            providing the best solutions for every challenge encountered.
          </p>
        </div>
      </div>

      <!-- Card 2 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px] fade-in">
        <img alt="Portrait of Mulyo Prabowo" class="rounded-lg w-30 h-30 md:w-30 md:h-30 object-cover mx-auto mb-4"
          src="../assets/pak-yoyo-removebg-preview.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Mulyo Prabowo
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">CEO</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            A CEO with experience in event organizing and production, supported by a strong team that prioritizes
            client satisfaction.
          </p>
        </div>
      </div>

      <!-- Card 3 -->
      <div
        class="group bg-white/10 rounded-lg p-6 shadow-xl transform transition duration-300 hover:scale-105 hover:bg-white/20 min-h-[350px] fade-in">
        <img alt="Portrait of Tyas Ramadhianta" class="rounded-lg w-32 h-32 md:w-48 md:h-48 object-cover mx-auto mb-4"
          src="../assets/mba-tyas-removebg-preview.png" />
        <div class="text-center">
          <h3 class="text-xl md:text-2xl text-white font-bold font-poppins group-hover:text-orange-300">Tyas
            Ramadhianta
          </h3>
          <p class="text-sm md:text-base text-white font-opensans">Sales Marketing</p>
          <p class="text-sm md:text-base text-white/80 mt-2 font-opensans line-clamp-4">
            An experienced sales marketer who ensures marketing strategies run effectively and efficiently while
            providing the best solutions to boost sales and customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END Our Team -->

  <!-- Footer -->
  <div id="footer"></div>
  <!-- END Footer -->

  <!-- Scripts -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="slider.js"></script>
  <script src="documentation.js"></script>
  <script>
    //script navbar
    function Menu(e) {
      let list = document.getElementById('menu-list');
      if (e.name === 'menu') {
        e.name = "close";
        list.classList.add('top-[70px]', 'opacity-100');
      } else {
        e.name = "menu";
        list.classList.remove('top-[70px]', 'opacity-100');
      }
    }

    // Load Footer
    fetch('footer.html')
      .then(response => response.text())
      .then(html => {
        document.getElementById('footer').innerHTML = html;
      })
      .catch(error => console.error('Error fetching footer:', error));

    // Script Loading
    window.addEventListener("load", () => {
      const loader = document.querySelector(".loader");

      setTimeout(() => {
        loader.classList.add("loader-hidden");

        loader.addEventListener("transitionend", () => {
          if (document.body.contains(loader)) {
            document.body.removeChild(loader);
          }
        });
      }, 1000);
    });

    // script slider our partner
    $(document).ready(function () {
      $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
          breakpoint: 768,
          setting: {
            slidesToShow: 4
          }
        }, {
          breakpoint: 520,
          setting: {
            slidesToShow: 3
          }
        }]
      });
    });

    // script Scroll Animation
    document.addEventListener("DOMContentLoaded", function () {
      const fadeInElements = document.querySelectorAll('.fade-in');

      const observerOptions = {
        root: null, // Gunakan viewport sebagai root
        rootMargin: '0px',
        threshold: 0.1 // Trigger ketika 10% elemen terlihat
      };

      const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            entry.target.classList.add('visible');
            observer.unobserve(entry.target); // Hentikan pengamatan setelah animasi dipicu
          }
        });
      }, observerOptions);

      fadeInElements.forEach(element => {
        observer.observe(element);
      });
    });
  </script>

</body>

</html>